<div class="landing-page">
    <div class="content">
        <div class="container">
            <div class="info">
                <h1>VEIGA, CEDROLA & </h1>
                <h1>AZEVEDO</h1>
                <p>Seus direitos defendidos com responsabilidade e dedicação.</p>
                <p>Conte com nossa equipe de especialistas para preservação dos seus direitos.</p>
                <button type="button" class="btn btn-dark cor-personalizada btn-whatsapp">FALE CONOSCO AGORA   <i class="fab fa-whatsapp"></i></button>
            </div>
            <div class="image">
                <img src="https://images.unsplash.com/photo-1589829545856-d10d557cf95f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            </div>
        </div>
    </div>
</div>

<div class="full-width-banner">
    <div class="phrases">
        <div class="phrase-item">
            <span>Experiência Vasta</span>
            <p>Contamos com mais de 17 anos de experiência na área jurídica.</p>
        </div>
        <div class="phrase-item">
            <span>Atendimento Personalizado</span>
            <p>Cada caso é único, oferecemos atendimento personalizado e humanizado.</p>
        </div>
        <div class="phrase-item">
            <span>Comunicação Clara</span>
            <p>Transparência a cada atualização, e explicação de cada etapa do processo.</p>
        </div>
    </div>
</div>

<div>
  
</div>
